.recent-sales .box-4 {
  display: flex;
  align-items: center;
  justify-content: center;
    /* width: calc(100% / 2 - 15px); */
  background: #fff;
  padding: 15px 14px;
}
.sales-boxes .top-sales .title{
  font-size: 24px;
  font-weight: 500;
  display: top;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.box-4 .myimage {
  height: 200px;
  width: 200px;
  border-radius: 6px;
  object-fit: cover;
}


