.frame{
    position: relative;
    padding: 20px;
    display: block;
}
.frame .frame-input{
    display: inline-flex;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px 30px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    transition: all 0.2s linear;
}
.frame .frame-input:focus{
    border-color: rgb(23, 0, 128);
}
.frame .btn{
    display:center;
}
.eye{
    position: absolute;
    z-index: 1;
    top: 65%;
    transform: translateY(-50%);
    cursor: pointer;
    max-width: 25px;
}

.hidden{
    display: none;
}