{{#if change_header}}
<form action="/auth/logout" method="POST">
<nav>
  <h4>Node Mysql</h4>
  <ul>
    <li class="text">{{message}}</li>
    <li><button type="submit" class="btn btn-primary" value="logout" id="logout">Logout</button> </li>
    {{!-- <li class="btn active" style="background-color: red;">Log out</a></li> --}}
  </ul>
</nav>
</form>
<img src="../../../image/quiz.png" alt="quizz" style="display: block; margin-left: auto; margin-right: auto;"
  width="auto" height="100" />
{{else}}
<nav>
  <h4>Node Mysql</h4>
  <ul>
    <li class="btn"><a href="/home">Home</a></li>
    <li class="btn"><a href="/auth/login">Login</a></li>
    <li class="btn"><a href="/auth/register">Register</a></li>
  </ul>
</nav>
{{/if}}
