<div class="container mt-4">
    <div class="card">

        <div class="card-header" style="font-weight: bold">
            <p>Hi, {{user_name}} </p>
            <p>Do you want change password?</p>
        </div>
        <div class="card-body">
            <form action="/changePassword/change_process" method="POST">
                <div class="form-group">
                    <label for="currentPassword">Current Password</label>
                    <input
                        type="password"
                        class="form-control"
                        id="currentPassword"
                        name="currentPassword"
                    />
                </div>

                <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <input
                        type="password"
                        class="form-control"
                        id="newPassword"
                        name="newPassword"
                    />
                </div>
                <div class="form-group">
                    <label for="passwordConfirm">Confirm Password</label>
                    <input
                        type="password"
                        class="form-control"
                        id="passwordConfirm"
                        name="passwordConfirm"
                        onkeyup="checkPass()"
                    />
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            </form>
        </div>
    </div>
    {{#if message}}
        <h4 class="alert alert-danger mt-4">{{message}}</h4>
    {{/if}}

</div>