<div class="sidebar">
    <div class="logo-details">
        <i class="bx bxl-c-plus-plus"></i>
        <span class="logo_name">CodingLab</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="#" class="active">
                <i class="bx bx-grid-alt"></i>
                <span class="links_name">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#product" id="product">
                <i class="bx bx-box"></i>
                <span class="links_name">Product</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bx bx-pie-chart-alt-2"></i>
                <span class="links_name">Analytics</span>
            </a>
        </li>


        <li>
            <a href="#">
                <i class="bx bx-user"></i>
                <span class="links_name">Team</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-message"></i>
                <span class="links_name">Info</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-cog"></i>
                <span class="links_name">Setting</span>
            </a>
        </li>
        <li class="log_out">
            <a href="#">
                <i class="bx bx-log-out"></i>
                <span class="links_name">Log out</span>
            </a>
        </li>
    </ul>
</div>
<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class="bx bx-menu sidebarBtn"></i>
            <span class="dashboard">Dashboard</span>
        </div>
        {{! <div class="title">
            Tracking Air Qualification
        </div> }}
        <div class="profile-details">
            <img src="images/profile.jpg" alt="" />
            <span class="admin_name">{{user_name}}</span>
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">V</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="/home">Home</a>
                    <label id="logout">Sign out</label>
                    <a href="/changePassword">Change Password</a>
                    <a href="/dashboard/admin/quiz">Admin</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="home-content">
        <div class="overview-boxes">
            <div class="box">
                <div class="right-side">
                    <div class="box-topic">Battery Capacity</div>
                    <div class="number" id="bat">0</div>

                    <div class="indicator">
                        <i class="bx bx-up-arrow-alt"></i>
                        <span class="text" id="bat_log">Up from yesterday</span>
                    </div>
                </div>

                <i class="iconify data battery" data-icon="emojione:battery"></i>
            </div>
            <div class="box">
                <div class="right-side">
                    <div class="box-topic">PM2.5</div>
                    <div class="number" id="pm2_5">0</div>
                    <span> &#181;m/m3</span>
                    <div class="indicator">
                        <i class="bx bx-up-arrow-alt"></i>
                        <span class="text" id="pm2_5_log">Up from yesterday</span>
                    </div>
                </div>
                <img class="iconify data pm2_5" src="images/pm2_5.icon.png" alt="" />

            </div>
            <div class="box">
                <div class="right-side">
                    <div class="box-topic">Temperature</div>
                    <div class="number" id="temp">0 </div>
                    <div class="indicator">
                        <i class="bx bx-up-arrow-alt"></i>
                        <span class="text" id="temp_log">Up from yesterday</span>
                    </div>
                </div>
                <i class="iconify data temperature" data-icon="fluent:temperature-24-filled"></i>
            </div>
            <div class="box">
                <div class="right-side">
                    <div class="box-topic">Humidity</div>
                    <div class="number" id="humi">0</div>
                    <div class="indicator">
                        <i class="bx bx-up-arrow-alt"></i>
                        <span class="text" id="humi_log">Up from yesterday</span>
                    </div>
                </div>
                <i class="iconify data humidity" data-icon="iwwa:humidity"></i>

            </div>
        </div>
        <div class="sales-boxes">
            <div class="recent-sales box">
                <div id="loader" class="loader" style="display: none;"></div>
                <canvas id="weatherChart" width="647" height="323"
                    style="display: block; box-sizing: border-box; height: 323px; width: 647px;"></canvas>

            </div>
            <style>
                .loader,
                .loader:after {
                    border-radius: 50%;
                    width: 10em;
                    height: 10em;
                }

                .loader {
                    margin: 60px auto;
                    font-size: 10px;
                    position: relative;
                    text-indent: -9999em;
                    border-top: 1.1em solid rgba(82, 0, 115, 0.2);
                    border-right: 1.1em solid rgba(82, 0, 115, 0.2);
                    border-bottom: 1.1em solid rgba(82, 0, 115, 0.2);
                    border-left: 1.1em solid #520073;
                    -webkit-transform: translateZ(0);
                    -ms-transform: translateZ(0);
                    transform: translateZ(0);
                    -webkit-animation: load8 1.1s infinite linear;
                    animation: load8 1.1s infinite linear;
                }

                #weatherChart {
                    height: 80% !important;
                    width: 95% !important;
                    margin: 0 auto;
                }
            </style>
            <div class="top-sales box">
                <div class="title">Weather forecast</div>
                <link rel="stylesheet" href="/css/dashboard/weather-box.css" />

                <div class="main-content">
                    <article class="widget">

                        <div class="search-box">
                            <form id="weatherLocation"><input placeholder="location..." type="text" />
                                <button>Seach</button>

                            </form>
                        </div>
                        <div class="weatherIcon">
                            <i class="wi wi-day-cloudy"></i>
                        </div>
                        <div class="weatherInfo">
                            <div class="weatherData">
                                <div class="temperature"><span></span></div>
                                <div class="humidity"><span></span></div>
                            </div>
                            <div class="description">
                                <div class="weatherCondition"></div>
                                <div class="place"></div>
                            </div>
                        </div>
                        <div class="date"></div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://js.pusher.com/4.0/pusher.min.js"></script>
<script>
    // Using IIFE for Implementing Module Pattern to keep the Local Space for the JS Variables
    (function () {
        // Enable pusher logging - don't include this in production
        Pusher.logToConsole = true;

        var serverUrl = "/",
            members = [],
            pusher = new Pusher('97de8deb68d2953718df', {
                cluster: 'ap1',
                encrypted: true
            }),
            channel, weatherChartRef;

        function showEle(elementId) {
            document.getElementById(elementId).style.display = 'flex';
        }

        function hideEle(elementId) {
            document.getElementById(elementId).style.display = 'none';
        }

        function ajax(url, method, payload, successCallback) {
            var xhr = new XMLHttpRequest();
            xhr.open(method, url, true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.onreadystatechange = function () {
                if (xhr.readyState != 4 || xhr.status != 200) return;
                successCallback(xhr.responseText);
            };
            xhr.send(JSON.stringify(payload));
        }


        function renderWeatherChart(weatherData) {
            var ctx = document.getElementById("weatherChart").getContext("2d");
            var options = {};
            weatherChartRef = new Chart(ctx, {
                type: "line",
                data: weatherData,
                options: options
            });
        }

        var chartConfig = {
            labels: [],
            datasets: [
                {
                    label: "AQI Index",
                    fill: false,
                    lineTension: 0.1,
                    backgroundColor: "rgba(75,192,192,0.4)",
                    borderColor: "rgba(75,192,192,1)",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: "rgba(75,192,192,1)",
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(75,192,192,1)",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointHoverBorderWidth: 2,
                    pointRadius: 1,
                    pointHitRadius: 10,
                    data: [],
                    spanGaps: false,
                }
            ]
        };

        ajax("/getTemperature", "GET", {}, onFetchTempSuccess);

        function onFetchTempSuccess(response) {
            hideEle("loader");
            var respData = JSON.parse(response);
            chartConfig.labels = respData.dataPoints.map(dataPoint => dataPoint.time);
            chartConfig.datasets[0].data = respData.dataPoints.map(dataPoint => dataPoint.temperature);
            renderWeatherChart(chartConfig)
        }

        channel = pusher.subscribe('london-temp-chart');
        channel.bind('new-temperature', function (data) {
            var newTempData = data.dataPoint;
            if (weatherChartRef.data.labels.length > 15) {
                weatherChartRef.data.labels.shift();
                weatherChartRef.data.datasets[0].data.shift();
            }
            weatherChartRef.data.labels.push(newTempData.time);
            weatherChartRef.data.datasets[0].data.push(newTempData.temperature);
            weatherChartRef.update();
        });

        /* TEMP CODE FOR TESTING */
        var dummyTime = 1500;
        setInterval(function () {
            dummyTime = dummyTime + 10;
            ajax("/addTemperature?temperature=" + getRandomInt(10, 20) + "&time=" + dummyTime, "GET", {}, () => { });
        }, 1000);

        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }
        /* TEMP CODE ENDS */
    })();
</script>
<script src="socket.io/socket.io.js"></script>
<script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
<script src="../../script/dashboard.js"></script>
<script src="../../script/weather.js"></script>