<div class="sidebar">
    <div class="logo-details">
        <i class="bx bxl-c-plus-plus"></i>
        <span class="logo_name">CodingLab</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="#" class="active">
                <i class="bx bx-grid-alt"></i>
                <span class="links_name">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#product" id="product">
                <i class="bx bx-box"></i>
                <span class="links_name">Product</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bx bx-pie-chart-alt-2"></i>
                <span class="links_name">Analytics</span>
            </a>
        </li>
        
       
        <li>
            <a href="#">
                <i class="bx bx-user"></i>
                <span class="links_name">Team</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-message"></i>
                <span class="links_name">Info</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-cog"></i>
                <span class="links_name">Setting</span>
            </a>
        </li>
        <li class="log_out">
            <a href="#">
                <i class="bx bx-log-out"></i>
                <span class="links_name">Log out</span>
            </a>
        </li>
    </ul>
</div>
<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class="bx bx-menu sidebarBtn"></i>
            <span class="dashboard">Dashboard</span>
        </div>
        {{! <div class ="title">
           Tracking Air Qualification
        </div> }}
        <div class="profile-details">
            <img src="images/profile.jpg" alt="" />
            <span class="admin_name">{{user_name}}</span>
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">V</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="/home">Home</a>
                    <label id="logout">Sign out</label>
                    <a href="/changePassword">Change Password</a>
                    <a href="/dashboard/admin/quiz">Admin</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="home-content">
        <div class="overview-boxes">
            <div class="box">
                <div class="right-side">
                    <div class="box-topic">Battery Capacity</div>
                    <div class="number" id="bat">0<span> %</span></div>
                    <div class="indicator">
                        <i class="bx bx-up-arrow-alt"></i>
                        <span class="text">Up from yesterday</span>
                    </div>
                </div>

                <i class="iconify data battery" data-icon="emojione:battery"></i>
            </div>
            <div class="box">
                <div class="right-side">
                    <div class="box-topic">PM2.5</div>
                    <div class="number" id="pm2_5">0 <span> &#181;m/m3</span></div>
                    <div class="indicator">
                        <i class="bx bx-up-arrow-alt"></i>
                        <span class="text">Up from yesterday</span>
                    </div>
                </div>
                <img  class="iconify data pm2_5"  src="images/pm2_5.icon.png" alt="" />
               
            </div>
            <div class="box">
                <div class="right-side">
                    <div class="box-topic">Temperature</div>
                    <div class="number" id="temp">0 <span>  &#176;</span></div>
                    <div class="indicator">
                        <i class="bx bx-up-arrow-alt"></i>
                        <span class="text" id="temp_log">Up from yesterday</span>
                    </div>
                </div>
                <i class="iconify data temperature" data-icon="fluent:temperature-24-filled"></i>
            </div>
            <div class="box">
                <div class="right-side">
                    <div class="box-topic">Humidity</div>
                    <div class="number" id="humi">0<span> %</span></div>
                    <div class="indicator">
                        
                        <i class="bx bx-up-arrow-alt"></i>
                        <span class="text" id="humi_log">Up from yesterday</span>
                    </div>
                </div>
                <i class="iconify data humidity" data-icon="iwwa:humidity"></i>
 
            </div>
        </div>

        <div class="sales-boxes">
            <div class="recent-sales box">

            </div>
            <div class="top-sales box">
                <div class="title">Weather forecast</div>
                <link rel="stylesheet" href="/css/dashboard/weather-box.css" />

                <div class="main-content">
                    <article class="widget">

                        <div class="search-box">
                            <form id="weatherLocation"><input
                                    placeholder="location..."
                                    type="text"
                                />
                                <button>Seach</button>

                            </form>
                        </div>
                        <div class="weatherIcon">
                            <i class="wi wi-day-cloudy"></i>
                        </div>
                        <div class="weatherInfo">
                            <div class="weatherData">
                                <div class="temperature"><span></span></div>
                                <div class="humidity"><span></span></div>
                            </div>
                            <div class="description">
                                <div class="weatherCondition"></div>
                                <div class="place"></div>
                            </div>
                        </div>
                        <div class="date"></div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="socket.io/socket.io.js"></script>
<script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
<script src="../../script/dashboard.js"></script>
<script src="../../script/weather.js"></script>