<div class='container mt-4'>
    {{! <img class="card-img-top" src="/image/quiz.png" alt="Card image cap"> }}
    <div class='jumbotron'>
        <h1 class='display-4'>Login Project</h1>
        <p class='lead'>Try to test Quiz Exercice </p>
        <hr class='my-4' />
        <p>Work hard in silence let success make the noise</p>
        <p class='lead'>
            <a class='btn btn-primary btn-lg' href='#' role='button'>Learn more</a>
        </p>
    </div>
    <div>
        ...
        <!-- link to login page-->
        <a href='/auth/login'>Please Login Here!</a>
    </div>
    <div>
        ...
        <!-- link to register page-->
        <a href='/auth/register'>Please Register Here!</a>
    </div>
</div>