<div class="container mt-4">
    {{! <img class="card-img-top" src="/image/quiz.png" alt="Card image cap"> }}
    <div class="jumbotron">
        <h1 class="display-4">IOT Project</h1>
        <p class="lead">Work hard in silence let success make the noise</p>
        <hr class="my-4" />
        <p></p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/v1/auth/login" role="button">Learn more</a>
        </p>
    </div>

</div>
