
  <div class="overview-boxes">
  <div class="sales-boxes">
    <div class="recent-sales box">
      
    
      <div class="title">Hình ảnh sản phẩm</div>
      <div class="myimage box" >
      <img class="myimage" src="images/eco1.png" alt="" >
      <img class="myimage" src="images/eco2.png" alt="">
      <img class="myimage" src="images/eco3.png" alt="">
      <img src="images/eco4.png" alt="" width="400" height="341">
    </div>
      <div class="button">
        <a href="#">See All</a>
      </div>
    </div>
    <div class="top-sales box">
      <div class="title">Product Information</div>
      <ul class="top-sales-details">
      </br>
        <p>Processer: ESP32</p>
       <p>Temp & Humi Sensor: ATH10</p>
        <p>PM2.5 Sensor: PMS7003 </p>
        <p>Server: Socket.io</p>
        
      </ul>
    </div>
  </div>
  </div>
