<!-- creating a modal for when quiz ends to show result -->
<div style ="display:flex; justify-content: space-around;">

    <div class="modal-content-container">

        <h1>Congratulations, Quiz Completed.</h1>

        <div class="grade-details">
            <p>Questions : {{totalPage}}</p>
            <p>Wrong Answers : <span>{{listResult.wrongAns}}</span></p>
            <p>Right Answers : <span>{{listResult.correctAns}}</span> </p>
            <p>Score : <span>{{listResult.score}}</span> %</p>
        </div>

        <div class="modal-button-container">
            <button type="submit" onclick="closeScoreModal()">End quiz</button>
        </div>
    </div>
</div>
<script>
// click button end quiz to go back dashboard page
function closeScoreModal() {
    // [GET] method
    const url = "/dashboards/";
    location.href = url;
}
</script>