doctype html
html
  head
    title = Nodejs_MQTT
    link(rel='stylesheet', href='/dist/css/style.css')

    link(rel='stylesheet', href='/dist/css/bootstrap.min.css')
    script(src="/dist/js/bootstrap.min.js")

    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main
        block header

        block content