<div class='container mt-4'>
    <div class='card'>
        {{!-- Form to process quiz --}}
        <div class='card-header' id="addQuestion" style='font-weight: bold'>
            <label>Add Question</label> 
        </div>    
        <div class='card-body'>
            <form id="myForm" class="hidden">
                <div class='form-group' >
                    <label for='title'>Question</label>
                    <input type='text' class='form-control' id='title' name='title' />
                </div>
                <div class='form-group'>
                    <label for='optionA'>optionA</label>
                    <input type='text' class='form-control' id='optionA' name='optionA' />
                </div>
                <div class='form-group'>
                    <label for='optionB'>optionB</label>
                    <input type='text' class='form-control' id='optionB' name='optionB' />
                </div>
                <div class='form-group'>
                    <label for='optionC'>optionC</label>
                    <input type='text' class='form-control' id='optionC' name='optionC' />
                </div>
                <label>Select answer:&emsp;</label>
                <input type="checkbox" id="option-one" name="correctOption" value="optionA" />
                <label> A &emsp;</label>
                <input type="checkbox" id="option-two" name="correctOption" value="optionB" />
                <label> B &emsp;</label>
                <input type="checkbox" id="option-three" name="correctOption" value="optionC" />
                <label> C &emsp;</label>
                <input type="checkbox" id="Manychoice" name="Manychoice" value=1 />
                <label>Many choice</label><br>

                <button type='submit' class='btn btn-primary' id="createQuiz">Submit</button>
            </form>
            <br>
            
        </div>
        <span><button class='btn btn-primary' id="showquiz" onclick="showquiz()">View quiz</button>
        <button class='btn btn-primary' id="resetQuiz">Reset quiz</button></span>
        
        {{!-- Form to process device --}}
        <div class='card-header' id="addDevice" style='font-weight: bold; '>   
            <label>Add Device</label> 
        </div>
        <div class='card-body hidden' id = 'form-device'>
            <form id="myForm2">
                <div class='form-group' >
                    <label for='name_device'>Name Device</label>
                    <input type='text' class='form-control' id='name_device' name='name_device' />
                    <label for='topic_device'>Topic for Device</label>
                    <input type='text' class='form-control' id='topic_device' name='topic_device' />
                <button type='submit' class='btn btn-primary' id="createDevice">Submit</button>
            </form>
            <br>
            
        </div>
        <label for='id_device'>Id Device to delete</label>
        <input type='number' class='form-control' id='id_device' name='id_device' />
        <span><button class='btn btn-primary' id="delete_device">Delete Device</button></span>
    
    </div>
    <br>
    <button class='btn btn-primary' id="resetData">Reset DataSensor Table</button>
    <h5 class='alert alert-danger mt-4' id="alert"></h5>
</div>
<style>
.hidden{
    display: none;
}
</style>

<script>
    // click button start to show quiz at ?page=1
    function showquiz() {
        const data = new URLSearchParams();
        data.append('page', '1');
        const url = '/dashboard/showquiz?' + data.toString();
        location.href = url;
    }
    $(document).ready(function () {

        $("#delete_device").click(function() {
            const id_device = $("#id_device").val();
            if(!id_device)
                return $("#alert").text("id device not null");
            $.post("/dashboard/admin/deleteDevice",
                {
                    command: "delete",
                    id_device
                },
                function (response) {   
                    $("#alert").text(response.message);
                }) 
            
        })
        $("#addQuestion").click(function () {          
        
           if($("#myForm").hasClass('hidden')){
                $("#myForm").removeClass('hidden');
           }
           else
                $("#myForm").addClass('hidden');
        });

        $("#addDevice").click(function () {          
        
           if($("#form-device").hasClass('hidden')){
                $("#form-device").removeClass('hidden');
           }
           else
                $("#form-device").addClass('hidden');
        });

        $("#resetData").click(function () {       
           $.post("/dashboard/admin/resetDataSensor",
                {
                    command: "truncate"
                },
                function (response) {
                    //console.log(response);
                    $("#alert").text(response.message);
                })
        });
        $("#resetQuiz").click(function () {
            $.post("/dashboard/admin/resetquestion",
                {
                    command: "truncate"
                },
                function (response) {
                   //console.log(response);
                    $("#alert").text(response.message);
                })
        });
        $("#myForm").on("submit", function (e) {
            var dataString = $(this).serialize();
            console.log(dataString);
            $.ajax({
                type: "POST",
                url: "/dashboard/admin/createquestion",
                data: dataString,
                success: function (response) {
                    // Display message back to the user here
                    $("#alert").text(response.message);
                    //const url = response.url + response.id_quest.toString();
                }
            });
            e.preventDefault();
        });

        $("#myForm2").on("submit", function (e) {
            var dataString = $(this).serialize();
            console.log(dataString);
            $.ajax({
                type: "POST",
                url: "/dashboard/admin/createdevice",
                data: dataString,
                success: function (response) {
                    // Display message back to the user here
                    $("#alert").text(response.message);
                    //const url = response.url + response.id_quest.toString();
                }
            });
            e.preventDefault();
        });
        /*var Manychoice = 0;
        $("#Manychoice").click(function(){
                Manychoice = 1;
        }); 
        var values = {};
        $("#createQuiz").click(function () {
          
            $.post("/dashboard/admin/createquestion",
            {
                title: $("#title").val(),
                optionA: $("#optionA").val(),
                optionB: $("#optionB").val(),
                optionC: $("#optionC").val(),
                correctOption: $("#correctOption").val(),
                Manychoice: Manychoice || 0
            },     
            function (response) {
                $("#alert").text(response.message);
            }) 
        });*/

    })
</script>