
<!--<title> Responsiive Admin Dashboard | CodingLab </title>-->
    
<style>
.switch {position: relative;display: inline-block;width: 60px;height: 34px;}
.switch input {opacity: 0;width: 0;height: 0;}
.slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
}
.slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
}
input:checked + .slider {  background-color: #2196F3;}
input:focus + .slider {  box-shadow: 0 0 1px #2196F3;}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {  border-radius: 34px;}
.slider.round:before {  border-radius: 50%;}
</style>
 {{> dashboard_slidebar}}
<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class="bx bx-menu sidebarBtn"></i>
            <span class="dashboard">Dashboard</span>
        </div>
        
        <div class="title">Controller Device</div>
        
        <div class="profile-details">
            <img src="../images/profile.jpg" alt="" />
            <span class="admin_name">{{user_name}}</span>
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">V</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="/home">Home</a>
                    <a href="/changePassword">Change Password</a>
                    <a href="/dashboard/admin/quiz">Admin</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="home-content">
        <div class="overview-boxes">
            <div class="box3">
                <h2>LAMP</h2>
                    <label class="switch">
                        <input type="checkbox" onclick="handleClickSaveMode()"/>
                        <span class="slider round"></span>
                    </label>
                </form>
            </div>

            <div class="box3">
                <h2>TIMER</h2>
                <label class="switch">
                    <input type="checkbox" />
                    <span class="slider round"></span>
                </label>
            </div>

            <div class="box3">
                <label for="start">Date/Time</label>
                    <input type="date" id="start" name="trip-start"
                        value="2022-07-22"
                        min="2022-01-01" max="2022-12-31">
                    <input type="time" name="timeField"
                        value="00:00">
            </div>
            <div class="box3">
                <label for="start">Mode</label>
                    <label>ON</label>
                <label class="switch">
                    <input type="checkbox" />
                    <span class="slider round"></span>
                </label>
                    <label>OFF</label>
                <label class="switch">
                    <input type="checkbox" />
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
</section>
<script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script>
    $(document).ready(function(){
        if(!$("#controller").hasClass('active')){
            $("#controller").addClass('active');
        }
    })
      // click to call api turn on/off led
    let saveModeStatus = false;
    const handleClickSaveMode = () => {
        let mode ='';
        saveModeStatus = !saveModeStatus;
        if (saveModeStatus == true) {mode = 'ON';}
        else {mode = 'OFF';} 
        const userAction = async () => {
            const response = await fetch('/dashboard/controller/lamp', {
                method: 'POST',
                body: JSON.stringify({lamp_mode: mode}),
                headers: {
                    'Content-Type': 'application/json'
                    } // string or object
            });
        };
        userAction();
    }

</script>
