<div class='home-content'>
    <p style='display: block; margin: 10px; padding: 10px 20px ; '>Select device you want to view</p>
    <div class='overview-boxes'>

        {{#each list_devices}}
            <div class='box'>
                <div class='right-side'>
                    <div class='box-topic'>
                        <a href='data/device_{{this.id}}'> <label>Device: </label> <span>{{this.deviceName}}</span> </a>
                    </div>
                    <div class='number' id='bat'>id: {{this.id}}</div>
                    <div class='indicator'>
                        <i class='bx bx-up-arrow-alt'></i>
                        <span class='text'>topic: {{this.topic}}</span>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>

<script>
    $(document).ready(function(){ if(!$("#data").hasClass('active')){ $("#data").addClass('active'); } })
</script>