<div class='home-content'>
    <div class='overview-boxes'>
        <div class='box'>
            <div class='right-side'>
                <div class='box-topic'>Battery</div>
                <div class='number' id='bat'>0</div>

                <div class='indicator'>
                    <i class='bx bx-up-arrow-alt'></i>
                    <span class='text' id='bat_log'>Waiting for client update</span>
                </div>
            </div>

            <i class='iconify data battery' data-icon='emojione:battery'></i>
        </div>
        <div class='box'>
            <div class='right-side'>
                <div class='box-topic'>PM2.5</div>
                <div class='number' id='pm2_5'>0</div>
                <span> &#181;m/m3</span>
                <div class='indicator'>
                    <i class='bx bx-up-arrow-alt'></i>
                    <span class='text' id='pm2_5_log'>Waiting for client update</span>
                </div>
            </div>
            <img class='iconify data pm2_5' src='/images/pm2_5.icon.png' alt='' />

        </div>
        <div class='box'>
            <div class='right-side'>
                <div class='box-topic'>Temperature</div>
                <div class='number' id='temp'>0 </div>
                <div class='indicator'>
                    <i class='bx bx-up-arrow-alt'></i>
                    <span class='text' id='temp_log'>Waiting for client update</span>
                </div>
            </div>
            <i class='iconify data temperature' data-icon='fluent:temperature-24-filled'></i>
        </div>
        <div class='box'>
            <div class='right-side'>
                <div class='box-topic'>Humidity</div>
                <div class='number' id='humi'>0</div>
                <div class='indicator'>
                    <i class='bx bx-up-arrow-alt'></i>
                    <span class='text' id='humi_log'>Waiting for client update</span>
                </div>
            </div>
            <i class='iconify data humidity' data-icon='iwwa:humidity'></i>

        </div>
    </div>
    <div class='sales-boxes'>
        <div class='recent-sales box'>
            <div id='loader' class='loader' style='display: none;'></div>
            <canvas id='weatherChart' width='647' height='323' style='display: block; box-sizing: border-box; height: 323px; width: 647px;'></canvas>

        </div>
        <style>
            .loader, .loader:after { border-radius: 50%; width: 10em; height: 10em; } .loader { margin: 60px auto; font-size: 10px; position: relative; text-indent: -9999em; border-top: 1.1em solid
            rgba(82, 0, 115, 0.2); border-right: 1.1em solid rgba(82, 0, 115, 0.2); border-bottom: 1.1em solid rgba(82, 0, 115, 0.2); border-left: 1.1em solid #520073; -webkit-transform:
            translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); -webkit-animation: load8 1.1s infinite linear; animation: load8 1.1s infinite linear; } #weatherChart { height: 80%
            !important; width: 95% !important; margin: 0 auto; }
        </style>
        <div class='top-sales box'>
            <div class='title'>Weather forecast</div>
            <link rel='stylesheet' href='/css/dashboard/weather-box.css' />

            <div class='main-content'>
                <article class='widget'>

                    <div class='search-box'>
                        <form id='weatherLocation'><input placeholder='location...' type='text' />
                            <button>Seach</button>

                        </form>
                    </div>
                    <div class='weatherIcon'>
                        <i class='wi wi-day-cloudy'></i>
                    </div>
                    <div class='weatherInfo'>
                        <div class='weatherData'>
                            <div class='temperature'><span></span></div>
                            <div class='humidity'><span></span></div>
                        </div>
                        <div class='description'>
                            <div class='weatherCondition'></div>
                            <div class='place'></div>
                        </div>
                    </div>
                    <div class='date'></div>
                </article>
            </div>
        </div>
    </div>
    <a href='/dashboard/data' style='display: block; margin: 10px; padding-left: 20px'>Back...</a>
</div>

<script src='https://cdn.jsdelivr.net/npm/chart.js'></script>
<script src='https://js.pusher.com/4.0/pusher.min.js'></script>

<script src='https://code.iconify.design/2/2.1.2/iconify.min.js'></script>
<script src='/script/weather.js'></script>
<script src='/script/pusher.js'></script>