{{> dashboard_slidebar}}

<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class="bx bx-menu sidebarBtn"></i>
            <span class="dashboard">Dashboard</span>
        </div>
        <div class="title">
            Product Information
        </div>
        <div class="profile-details">
            <img src="../images/profile.jpg" alt="" />
            <span class="admin_name">{{user_name}}</span>
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">V</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="/home">Home</a>
                    <a href="/changePassword">Change Password</a>
                    <a href="/dashboard/admin/quiz">Admin</a>
                </div>
            </div>
        </div>
    </nav>

    
    <div class="home-content">
        <div class="overview-boxes">
            <div class="sales-boxes">
                <div class="recent-sales box1">
                <div class="title">Product Images</div>
                <div class="box-4">
                    <img class="mySlides" src="../images/product/eco11.jpg" width="400" height="400">
                    <img class="mySlides" src="../images/product/eco21.jpg" width="400" height="400">
                    <img class="mySlides" src="../images/product/eco31.jpg" width="400" height="400">
                    <img class="mySlides" src="../images/product/eco41.jpg" width="400" height="400">

                    <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                    <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
                </div>
            </div>
            <div class="top-sales box">
                <div class="title">Product Information</div>
                <ul class="top-sales-details">
                    <p>Processer: ESP32</p>
                    </br>
                    <p>Temp & Humi Sensor: ATH10</p>
                    </br>
                    <p>PM2.5 Sensor: PMS7003 </p>
                    </br>
                </ul>
            </div>
        </div>
    </div>

</section>
<script>
    $(document).ready(function(){
        if(!$("#product").hasClass('active')){
            $("#product").addClass('active');
        }
    })
</script>
<script>
var slideIndex = 1;
showDivs(slideIndex);
function plusDivs(n) {
  showDivs(slideIndex += n);
}
function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>