
    <div class="home-content">
        <div class="overview-boxes">
            <div class="box1">
                <div class="box2">
                    <div class="right-side">
                        <div class="box-topic">Nguyễn Hữu Cương</div>
                        <div class="MSSV">20212653M</div>
                        <div class="indicator">
                            <span class="text">Lập trình Front-End</span>
                        </div></div></div>
                <div class="box3">
                    <img src="/images/teaminfo/cuong.jpg" alt="" />
                </div>
            </div>

            <div class="box1">
                <div class="box2">
                    <div class="right-side">
                        <div class="box-topic">Phạm Anh Quân</div>
                        <div class="MSSV">20212654M</div>
                        <div class="indicator">
                            <span class="text">Trưởng nhóm/ Lập trình Back-End</span>
                        </div></div></div>
                <div class="box3">
                    <img src="/images/teaminfo/quan.jpg" alt="" />
                </div>
            </div>
            <div class="box1">
                <div class="box2">
                    <div class="right-side">
                        <div class="box-topic">Trần Trọng Nam</div>
                        <div class="MSSV">20170839</div>
                        <div class="indicator">
                            <span class="text">Lập trình Front-End</span>
                        </div></div></div>
                <div class="box3">
                    <img src="/images/teaminfo/nam.jpg" alt="" />
                </div>
            </div>
            <div class="box1">
                <div class="box2">
                    <div class="right-side">
                        <div class="box-topic">Nguyễn Công Lợi</div>
                        <div class="MSSV">20170807</div>
                        <div class="indicator">
                            <span class="text">Lập trình Vi điều khiển</span>
                        </div></div></div>
                <div class="box3">
                    <img src="/images/teaminfo/loi.jpg" alt="" />
                </div>
            </div>

        </div>
    </div>

<script>
    $(document).ready(function(){
        if(!$("#team").hasClass('active')){
            $("#team").addClass('active');
        }
    })
</script>